@model FixtureInfo
@{
    ViewData["Title"] = "Fixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("WeeklyFixtures", "Match", FormMethod.Post))
{
    <h2>Fixtures For Week @Model.Week</h2>
    <br />
    @Html.DropDownListFor(m => m.SelectedWeek, Model.WeekList)

    <input name="Show" type="submit" value="Show" />

    <hr />

    <hr />
    @await Component.InvokeAsync("FixtureList", new { divisionId = 1, week = Int32.Parse(Model.SelectedWeek) })
    @await Component.InvokeAsync("FixtureList", new { divisionId = 2, week = Int32.Parse(Model.SelectedWeek) })
    @await Component.InvokeAsync("FixtureList", new { divisionId = 3, week = Int32.Parse(Model.SelectedWeek) })
    @await Component.InvokeAsync("FixtureList", new { divisionId = 4, week = Int32.Parse(Model.SelectedWeek) })

    <hr />
    <div>
        <a asp-action="Index" asp-controller="Game">Back to Game Home</a>
    </div>
}

