@{
    ViewData["Title"] = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Select a Team To Manage:</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>>Please Select a Team:</title>
</head>
<body>
   
     @await Component.InvokeAsync("Teams")

<div>
    <a asp-action="Index">Back to Menu</a>
</div>
</body>
</html>



