

@using (Html.BeginForm("SelectManager", "Home", FormMethod.Post))
{
    <div>
        Enter Manager Name: <input type="text" id="managerName" name="managerName" />
    </div>
    <br />
    <div>
        <input type="Submit" id="btnsubmit" value="Submit" />        
    </div>
}
