@model FMS3.Models.GameDetails

@{
    ViewData["Title"] = "StartGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Details:</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Game Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd>
            @await Component.InvokeAsync("TeamName", new { teamId = Model.TeamId })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BeginGame">Go To Pre-Season</a>
</div>
<div>    
    <a asp-action="Index">Back to Menu</a>
</div>
