@model IEnumerable<PlayerAttribute>

<div>
    <h4>ATTRIBUTES</h4>
</div>

<table class="table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttributeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttributeValue)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttributeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttributeValue)
        </td>
    </tr>
}
    </tbody>
</table>
