
@{
    ViewData["Title"] = "League Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="align-content:center; width:800px" class="row table-bordered">
    <div class="col-md-3" style="align-content:center">
        <h2>League Tables</h2>
        <ul>
            <li>@await Component.InvokeAsync("DivisionName", new { divisionId = 1 })</li>
            <li>@await Component.InvokeAsync("DivisionName", new { divisionId = 2 })</li>
            <li>@await Component.InvokeAsync("DivisionName", new { divisionId = 3 })</li>
            <li>@await Component.InvokeAsync("DivisionName", new { divisionId = 4 })</li>

        </ul>
    </div>
</div>
<a asp-action="Index" asp-controller="Game">Back to Game Home</a>
